@import 'node_modules/picnic/src/picnic';

body {
    padding: 16px;
    background-color: #fafafa;
    
    > div {
        margin-top: 48px;
    }
    
    nav {
        background-color: #0074d9;
    }
    
    .button > svg,
    button > svg {
        margin-right: 8px;
    }
    
    .shadow {
        box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.05);
    }

    .card {
        
        header {
            background-color: #eeffea;
        }
        
        h4.no-padding {
            padding: 0;
        }
        
        section.no-padding {
            padding: 0;
        }
        
        section.padding {
            padding-bottom: 0.6em;
        }
        
        section {
            
            table {
                width: 100%;
            }
            
        }
        
        span.float {
            float: right;
        }
        
    }
        
    .stock-list tr:hover,
    .position:hover {
        background-color: #eee;
        cursor: pointer;
    }
        
    .position {
        
        h1 {
            float: right; 
            padding: 0.25em 0;
        }
        
        h4 {
            padding-top: 0; 
            padding-bottom: 0;
        }
        
    }
}